extends ../shared/layout.pug

block content
  .container
    form.account-form(action='/account/addAddress', method='post')
      h1 Add New Address
      input(type='checkbox', name='def')
      label Set as Default
      input(type='text', name='attn', placeholder='Care Of', required)
      input(type='text', name='addr1', placeholder='Address 1', required)
      input(type='text', name='addr2', placeholder='Address 2', required)
      input(type='text', name='city', placeholder='City', required)
      input(type='text', name='zip', placeholder='Postcode', required)
      if error
        .error= error
      button(type='submit', class='btn btn-primary') Add Address