extends ../shared/layout.pug

block content
  .container
    form.account-form(action='/account/updatePassword', method='post')
      h1 Update Password
      input(type='password', name='old_password', placeholder='Current Pasword')
      input(type='password', name='new_password', placeholder='New Password')
      input(type='password', name='confirm_password', placeholder='Confirm New Password')
      if error
        .error= error
      button(type='submit', class='btn btn-primary') Update Password