extends ./shared/layout.pug

block content
    .container
      table
        tr
          td
            a(href="/results?category=Business", style="text-align: center;")
              <div class="panel panel-default">
                <div class="panel-body">Business</div>
                img(src="http://promotions.newegg.com/visnav/software/20160114/productivity.jpg", style="width: 33%;")
              </div>
          td
            a(href="/results?category=Development", style="text-align: center;")
              <div class="panel panel-default">
                <div class="panel-body">Development</div>
                img(src="http://rawsyntax.com/images/ram.jpg", style="width: 33%;")
              </div>
          td
            a(href="/results?category=Design", style="text-align: center;")
              <div class="panel panel-default">
                <div class="panel-body">Design</div>
                img(src="http://images17.newegg.com/is/image/newegg/14-487-092-TS?$S640$", style="width: 33%;")
              </div>
        tr
          td
            a(href="/results?category=Education", style="text-align: center;")
              <div class="panel panel-default">
                <div class="panel-body">Education</div>
                img(src="http://cdn.arstechnica.net/wp-content/uploads/2014/11/razer-blackwidow-ultimate-gallery-02-640x480.png", style="width: 33%;")
              </div>
          td
            a(href="/results?category=Multimedia", style="text-align: center;")
              <div class="panel panel-default">
                <div class="panel-body">Multimedia</div>
                img(src="http://promotions.newegg.com/visnav/software/20160414/audio-video.jpg", style="width: 33%;")
              </div>
          td
            a(href="/results?category=Utilities", style="text-align: center;")
              <div class="panel panel-default">
                <div class="panel-body">Utilities</div>
                img(src="http://promotions.newegg.com/visnav/software/20160114/security.jpg", style="width: 33%;")
              </div>
