extends ./shared/layout.pug

block content
    .container
      table
        tr
          td
            a(href="/results?category=CPU", style="text-align: center;")
              <div class="panel panel-default">
                <div class="panel-body">Processors</div>
                img(src="http://images10.newegg.com/NeweggImage/ProductImage/19-115-224-03.jpg", style="width: 33%;")
              </div>
          td
            a(href="/results?category=RAM", style="text-align: center;")
              <div class="panel panel-default">
                <div class="panel-body">RAM</div>
                img(src="http://rawsyntax.com/images/ram.jpg", style="width: 33%;")
              </div>
          td
            a(href="/results?category=GPU", style="text-align: center;")
              <div class="panel panel-default">
                <div class="panel-body">Graphics Cards</div>
                img(src="http://images17.newegg.com/is/image/newegg/14-487-092-TS?$S640$", style="width: 33%;")
              </div>
        tr
          td
            a(href="/results?category=PERIPHERAL", style="text-align: center;")
              <div class="panel panel-default">
                <div class="panel-body">Peripherals</div>
                img(src="http://cdn.arstechnica.net/wp-content/uploads/2014/11/razer-blackwidow-ultimate-gallery-02-640x480.png", style="width: 33%;")
              </div>
          td
            a(href="/results?category=PSU", style="text-align: center;")
              <div class="panel panel-default">
                <div class="panel-body">Power Supplies</div>
                img(src="http://images17.newegg.com/is/image/newegg/17-170-016-TS?$S640W$", style="width: 33%;")
              </div>
          td
            a(href="/results?category=MOTHERBOARD", style="text-align: center;")
              <div class="panel panel-default">
                <div class="panel-body">Motherboards</div>
                img(src="http://i.nextmedia.com.au/Utils/ImageResizer.ashx?n=http%3A%2F%2Fi.nextmedia.com.au%2FNews%2FM7G_3D+copy.jpg&h=480&w=640&c=1", style="width: 33%;")
              </div>
