extends ./shared/layout.pug

block content
    .container
      table(align="center")
        tr
          td
            a(href="/results?category=Business", style="text-align: center;")
              <div class="panel panel-default">
                <div class="panel-body">Business</div>
                img(src="http://icons.iconarchive.com/icons/walrick/openphone/256/Graph-icon.png", style="width: 50%; padding: 10px;")
              </div>
          td
            a(href="/results?category=Development", style="text-align: center;")
              <div class="panel panel-default">
                <div class="panel-body">Development</div>
                img(src="http://icons.iconarchive.com/icons/oxygen-icons.org/oxygen/256/Categories-applications-development-icon.png", style="width: 50%; padding: 10px;")
              </div>
          td
            a(href="/results?category=Design", style="text-align: center;")
              <div class="panel panel-default">
                <div class="panel-body">Design</div>
                img(src="http://icons.iconarchive.com/icons/oxygen-icons.org/oxygen/256/Apps-basket-icon.png", style="width: 50%; padding: 10px;")
              </div>
        tr
          td
            a(href="/results?category=Education", style="text-align: center;")
              <div class="panel panel-default">
                <div class="panel-body">Education</div>
                img(src="http://icons.iconarchive.com/icons/oxygen-icons.org/oxygen/256/Categories-applications-education-university-icon.png", style="width: 50%; padding: 10px;")
              </div>
          td
            a(href="/results?category=Multimedia", style="text-align: center;")
              <div class="panel panel-default">
                <div class="panel-body">Multimedia</div>
                img(src="http://icons.iconarchive.com/icons/oxygen-icons.org/oxygen/256/Categories-applications-multimedia-icon.png", style="width: 50%; padding: 10px;")
              </div>
          td
            a(href="/results?category=Utilities", style="text-align: center;")
              <div class="panel panel-default">
                <div class="panel-body">Utilities</div>
                img(src="http://icons.iconarchive.com/icons/oxygen-icons.org/oxygen/256/Apps-preferences-desktop-user-password-icon.png", style="width: 50%; padding: 10px;")
              </div>
