extends ./shared/layout.pug

block content
  #jumbo.jumbotron
    #jumbo-inner
      h1= app
      p Your home for new software

  .container
    h1= app
    h2 Featured Software
    .card-list
      .col-md-3.col-sm-6.col-xs-6
        .card
      .col-md-3.col-sm-6.col-xs-6
        .card
      .col-md-3.col-sm-6.col-xs-6
        .card
      .col-md-3.col-sm-6.col-xs-6
        .card
    h2 Latest Software
    .card-list
      .col-md-3.col-sm-6.col-xs-6
        .card
      .col-md-3.col-sm-6.col-xs-6
        .card
      .col-md-3.col-sm-6.col-xs-6
        .card
      .col-md-3.col-sm-6.col-xs-6
        .card
