@import 'modules/all';

// Weights
$light: 300;
$regular: 400;
$bold: 700;

// Fonts
$base-font-family: Roboto, Arial, sans-serif;
$base-font-size: 16px;
$base-font-weight: $regular;

// Colours
$theme-color: $blue;
$highlight-color: darken($blue, 5%);
